:root{
    --caixa-cor-frente: #00CED1;
    --caixa-cor-verso: #4B0082;
    --fundo: #474A51;
    --preto: black;
    --branco: white;
    --cor-texto-destaque: 	#008080;

}

body {
    background-color: var(--fundo);
    margin: 0;
    color: var(--branco);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}